<app-header titulo="Grid"></app-header>

<ion-content fullscreen>

    <ion-grid fixed>
        <ion-row>
            <ion-col size="12" size-lg="6" size-md="4" size="3" *ngFor="let item of [1,1,1,1,1,1,1,1,11,1]">
                <ion-card>
                    <ion-img src="/assets/img/avatar.png"></ion-img>
                    <ion-card-header>
                        <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                        <ion-card-title>Awesome Title</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum iure minus excepturi, fugiat minima veniam maiores natus provident similique dolor earum, fugit quis expedita? Odio qui praesentium necessitatibus quos maxime.
                    </ion-card-content>
                </ion-card>


            </ion-col>
            <ion-col size="6">


            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>