<ion-header>
    <ion-toolbar>
        <ion-button slot="start">
            <ion-menu-button menu="main"></ion-menu-button>
        </ion-button>
        <ion-title>inicio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item detail="true" [routerLink]="c.redirecTo" *ngFor="let c of componentes | async">
            <ion-icon [name]="c.icon" slot="start"></ion-icon>
            <ion-label>{{c.name}}</ion-label>
        </ion-item>
    </ion-list>


</ion-content>